.container {
  position: fixed;

  width: 6rem;
  height: 100%;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
    180deg,
    var(--white) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}

.container > img {
  width: 100%;
  max-width: 3rem;
  margin: 2rem 0;
}

.container > div {
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container > div > a {
  width: 100%;
  position: relative;

  text-align: center;

  padding: 1rem 0;

  cursor: pointer;
}

.container > div > a:before {
  content: '';
  position: absolute;

  opacity: 0;

  top: 0;
  left: 0;

  border-radius: 0 8px 8px 0;

  width: 4px;
  height: 100%;

  background-color: var(--blue);

  transition: opacity 0.25s ease;
}

.container > div > a:hover::before {
  opacity: 1;
}

.container > div > a + a {
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    height: 3.8rem;

    top: unset;
    bottom: 0;

    flex-direction: row;

    background: linear-gradient(
      180deg,
      var(--white) 0%,
      rgba(255, 255, 255, 0.8) 100%
    );
  }

  .container > img {
    display: none;
  }

  .container > div {
    height: 100%;
    flex-direction: row;
  }

  .container > div > a {
    height: 100%;

    display: flex;
    justify-content: center;
  }

  .container > div > a:before {
    top: unset;
    bottom: 0;

    border-radius: 8px 8px 0 0;

    width: 100%;
    height: 4px;
  }

  .container > div > a + a {
    margin-top: unset;
  }

  .container > div > a img {
    max-width: 30px;
  }
}
